html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

p {
    color: #4F5665;
}

a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.logo {
    width: 20%;
}

.nav-links {
    width: 40%;
    margin: 0 auto;


}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-links ul li a {
    text-decoration: none;
    color: #4F5665;
}



.nav-button {
    width: 30%;

}

.nav-button ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a.sign-in {
    text-decoration: none;
    color: #0B132A;
    font-weight: 500;
}

a.sign-up {
    text-decoration: none;
    font-weight: 500;
    color: #F53855;
    border: solid 1px #F53855;
    padding: 15px 60px;
    border-radius: 50px;
}

a.sign-up:hover {
    background-color: #F53838;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 100px auto;
}

.hero-title {
    font-size: 50px;
    line-height: 70px;
}

.hero-desc {
    line-height: 30px;
    color: #4F5665;
    margin-top: 20px;
}

.btn {
    border: none;
    text-decoration: none;
    background: #F53838;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px 60px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    font-family: inherit;
    box-shadow: -5px 20px 40px rgba(245, 56, 56, 0.35);
}

.btn:hover {
    background-color: #f01515;
}

.vpn-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: center;
    font-family: inherit;
    box-shadow: 0 42px 34px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    height: 200px;
    width: inherit;

}

.vpn-info-logo {
    display: inline-block;
}

.vpn-info-desc {
    display: inline-block;
    margin-left: 20px;

}

.users {
    display: inline-block;
    margin-left: 60px;
}

.servers {
    margin-right: 50px;
}

.vpn-info-desc p {
    color: #4F5665;
}

.line {
    border-left: solid 2px #EEEFF2;
    height: 70%;
    align-self: center;
}

.benefit {
    display: flex;
    margin-top: 100px;

}

.benefit-content {
    margin-top: 40px;
    margin-left: 169px;
    margin-bottom: 100px;
}

.benefit-title {
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
}

.benefit-desc {
    line-height: 30px;
}

.benefit-content ul {
    list-style: none;
    line-height: 30px;
    padding: 0;
}

.benefit-content ul li {
    margin-top: 15px;
    padding-left: 20px;
}

section#plan {
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
    ;
}

.plan {

    margin-bottom: 100px;
}

.plan .header {
    text-align: center;
    padding-top: 100px;
}

.plan .header h1 {
    font-weight: 500;
    font-size: 35px;
}

.plan .header p {
    line-height: 30px;
}

.plan .card {
    display: grid;
    grid-template-columns: repeat(3, minmax(330px, 1fr));
    justify-content: center;
    align-content: center;
    grid-gap: 50px;
    margin-top: 60px;
    padding: 0 128px;
    margin-bottom: 100px;

}

.card-content {
    border: 2px solid #dddddd;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 760px;
}

.card-content:hover {
    border: solid 2px #F53838;
}

.card-content-image {
    padding: 100px 0 0 90px;
}

.card-content-desc {
    height: 42%;
}

.fa-ul {
    padding-left: 64px;
    margin-left: 0;
    padding-bottom: 60px;
}

.fa-ul li {
    line-height: 40px;
    font-size: 14px;
    color: #4F5665;
}

.card-content .cta {
    text-align: center;
    padding-left: 4px;
}

.card-content h3 {
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 25px;
}


.maps .header {
    text-align: center;
    margin-top: 150px;
}

.maps .header h1 {
    line-height: 50px;
}

.maps .header p {
    line-height: 30px;
}

.maps .maps-image {
    margin-top: 150px;
}

.sponsored {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials {
    margin-top: 100px;
    text-align: center;
}

.testimonials h2 {
    line-height: 50px;
    font-weight: 500;
    font-size: 35px;
}

.testimonials p {
    line-height: 30px;
}

.testimonials-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    margin-left: 192px;
}



.testimonials-card-content {
    border: 2px solid #dddddd;
    border-radius: 10px;
    width: 400px;
    height: 230px;
    margin: 30px 30px;
    background-color: #FFFFFF;
}

.testimonials-card-content:hover {
    border: solid 2px #F53838;
}

.testimonials-card-content ul {
    list-style: none;
}

.testimonials-card-content .comment {
    text-align: left;
    margin-left: 20px;
}

.users-name {
    text-align: left;
    margin-left: -20px;
}

.col-1 {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 10px;


}

.rating {
    margin-left: 64px;
}

.comment {
    margin-top: -15px;
    max-width: 340px;
}

.comment p {
    font-weight: 400;
    color: #0B132A;
    font-size: 16px;
    line-height: 30px;

}

.pagination {
    display: flex;
    justify-content: space-between;

}

.list {
    display: flex;
    justify-content: space-between;
    max-width: 135px;
    margin-top: 82.5px;
}

.union {
    width: 45px;
    height: 15px;
    background-color: #F53838;
    border-radius: 20px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50%;
    margin-left: 20px;
}

.circle:hover {
    background-color: #F53838;
    cursor: pointer;
}

.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}



.left,
.right {
    border: solid 2px #F53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.left:hover {
    background-color: #F53838;
    cursor: pointer;
}

.right:hover {
    background-color: #F53838;
    cursor: pointer;
}

.fa-arrow-left:hover {
    color: white !important;
}

.left img,
.right img {
    margin-top: 20px;
}

.left {
    margin-right: 20px;
}

.right {
    transform: rotate(180deg);
}

section#subscribe {
    position: relative;
    z-index: 2;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    height: 223px;
    border-radius: 10px;
    box-shadow: 0 42px 34px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;

}

.subscribe .desc {
    margin: 58.5px 0 58.5px 70px;
}

.subscribe h2 {
    line-height: 45px;
    font-size: 35px;
    font-weight: 500;
}

.subscribe p {
    margin-top: -20px;
}

.subscribe button {
    margin: 86.5px 70px 86.5px 0;
}

section#footer {
    background-color: #F8F8F8;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    padding-top: 100px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-desc {

    width: 100%;

}

.footer-desc .desc {
    font-size: 16px;
    line-height: 30px;
}

.social-media ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    margin-left: -58px;
    margin-top: 30px;
}

.copyright {
    margin-top: -16px;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-end;
}

.list-menu .title h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
}

.list-menu .menu-item ul {
    list-style: none;
    padding-left: 0;
}

.list-menu .menu-item ul li a {
    text-decoration: none;
    color: #4F5665;
    line-height: 30px;
}